<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.FilmMapper" >

	<!--   按条件(id ,title )分页查询film 因为film实体类已经做了修改，所以resultType="Film"-->
  <select id="selectFilms" resultType="Film" parameterType="Film" >
  		SELECT f.film_id as "filmId",f.title, f.description,l.name as "language.name"
      FROM
        film f ,language l WHERE f.language_id=l.language_id
      	<if test="filmId !=null">
            AND film_id LIKE CONCAT('%', CONCAT(#{filmId}, '%'))
      	</if>
      	<if test="title !=null">
            AND title LIKE CONCAT('%', CONCAT(#{title}, '%'))
        </if> 
  </select>
  <insert id="insertFilm" parameterType="Film">
  		
  </insert>
</mapper>